@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-white antialiased;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.glass-card {
  @apply bg-surface/50 border border-white/10 backdrop-blur-md rounded-2xl;
}
